html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
body{
}
*,::before,::after{
    box-sizing: border-box;
}
.wrapper{
    max-width: 1550px;
    margin: 0 auto;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.header{
    background-color: #252740;
    position: relative;
}
.header-top{
    padding: 1rem 0;
}
.header-top .container{
    display: flex;
    justify-content: space-between;
}
.text-gradient{
    display: inline-block;
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #5a5bf3,#91e7d9);
}
a{
    text-decoration: none;
    color: #ffffff;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu-item{
    font-size: 16px;
    font-weight: 600;
    padding: 25px 20px;
    text-transform: uppercase;
}
a:hover{
    color: #4f80eb;
    transition: all .25s linear;
}
.header-main{
    padding-top: 3rem;
    display: flex;
    align-items: center;
}
.header-hello{
    color: white;
    font-size: 7rem;
    font-weight: 900;
    line-height: 1.2;
}
.header-hello-below{
    font-size: 2rem;
    color: white;
    font-weight: 500;
    padding-top: 3rem;
}
.web-designer{
    font-size: 4rem;
}
.font-hello{
    font-family: 'Montserrat', sans-serif;
}
.header-image{
    padding-left: 3rem;
    z-index: 1;
}
.header-image-myself{
    width: 530px;
    height: 700px;
    object-fit: cover;
}
.header:before{
    content: "";
    position: absolute;
    right: -10%;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.1);
    width: 60%;
    z-index: 0;
    transform: skewX(-10deg);
    border-radius: 0 0 0 100px;
}
main{
}
.main-profile{
    background-color: #121833;
    padding: 5rem 0;
}
.main-info{
    display: flex;
    align-items: center;
    padding: 4rem;
    --angle: 0deg;
    border: .3rem solid;
    border-image: linear-gradient(var(--angle),#00cc99,#eef0f5,#6600ff) 1;
    animation: 5s rotate linear infinite;
}
@keyframes rotate{
    to{
        --angle: 360deg;
    }
}
@property --angle{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
.img-info{
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    border: 1.5rem solid #ededed;
}
.main-about{
    padding-left: 3rem;
}
.main-title{
    font-size: 3.2rem;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    border-bottom: 1px solid grey;
    display: block;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
}
h5{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    display: block;
    margin-bottom: 1.5rem;
}
.profile-info li{
    padding: 15px 10px 0;
    width: 50%;
    float: left;
    font-size: 1.6rem;
    color: #fff;
    display: inline-block;
    padding: 1.2rem 0;
}
.title{
    float: left;
    width: 100%;
    max-width: 120px;
    font-weight: 600;
}
.main-github{
    height: 50rem;
    background-color: #0c0e27;
    padding: 5rem 0;
}
.layout-github{
    text-align: center;
}
.title-github{
    color: #fff;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 4rem;
}








